# auth config files
code/99_config/*.ini

# PyCharm files
.idea/**

# OSX Files
.DS_Store

# IPython Notebook
.ipynb_checkpoints

# Spyder project settings
.spyderproject
.idea/

# pycache
code/__pycache__/*.*
